.map__canvas {
  width: 100%;
  height: 420px;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}

.map__image {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }

  &--js {
    display: none;
  }
}
